list is a collection of items, and the items can be of any datatypes.

In [1]:
p=['rock',20,89.6734,[10,'chirag']]

In [2]:
p

['rock', 20, 89.6734, [10, 'chirag']]

In [3]:
a='chill'

In [7]:
a[0]

'c'

In [8]:
p[0]

'rock'

In [9]:
len(p)

4

In [10]:
p[-1]

[10, 'chirag']

In [11]:
for i in p:
    print(i)

rock
20
89.6734
[10, 'chirag']

In [16]:
num=[17,23]

lists are mutable

In [17]:
p

['rock', 20, 89.6734, [10, 'chirag']]

In [18]:
p[1]="mozarilla"

In [19]:
p

['rock', 'mozarilla', 89.6734, [10, 'chirag']]

In [20]:
'rock' in p

True

list inside a list is called as nested lists

In [22]:
t=[True]

In [23]:
t

[True]

In [25]:
type(t[0])

bool

In [26]:
p[1][-1]

'a'

In [27]:
p

['rock', 'mozarilla', 89.6734, [10, 'chirag']]

In [28]:
p[1]

'mozarilla'

In [29]:
p[1][-1]

'a'

In [30]:
p*2

['rock',
 'mozarilla',
 89.6734,
 [10, 'chirag'],
 'rock',
 'mozarilla',
 89.6734,
 [10, 'chirag']]

In [31]:
p

['rock', 'mozarilla', 89.6734, [10, 'chirag']]

In [32]:
p[1:3]

['mozarilla', 89.6734]

In [33]:
p[:]

['rock', 'mozarilla', 89.6734, [10, 'chirag']]

In [34]:
p[:-1]

['rock', 'mozarilla', 89.6734]

In [35]:
p[::-1]

[[10, 'chirag'], 89.6734, 'mozarilla', 'rock']

In [36]:
p.append("chillar")

In [37]:
p

['rock', 'mozarilla', 89.6734, [10, 'chirag'], 'chillar']

In [38]:
p.insert(2,"don")

In [39]:
p

['rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 'chillar']

In [40]:
p.insert(-1,23)

In [41]:
p

['rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23, 'chillar']

In [42]:
p.insert(0,4984)

In [43]:
p

[4984, 'rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23, 'chillar']

In [44]:
p.pop()

'chillar'

In [45]:
p

[4984, 'rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23]

In [46]:
p.extend(t)

In [47]:
p

[4984, 'rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23, True]

In [48]:
p.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
p

[4984, 'rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23, True]

In [50]:
a=[1,2,3]

In [65]:
def add_all(a):
    total=0
    for i in a:
        total=total+i
    return total

In [66]:
add_all(1)

TypeError: 'int' object is not iterable

In [63]:
a

[1, 2, 3]

In [64]:
for i in a:
    print(i)

1
2
3

In [67]:
1 in a

True

In [68]:
p

[4984, 'rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23, True]

In [69]:
"rock" in p.isupper()

AttributeError: 'list' object has no attribute 'isupper'

In [71]:
"r".isupper()

False

In [72]:
st="hello"

In [73]:
t=[i for i in st]

In [74]:
t

['h', 'e', 'l', 'l', 'o']

In [77]:
t=[]
for i in range(10,20):
    if i%2==0:
        t.append(i)

In [78]:
t

[10, 12, 14, 16, 18]

In [79]:
t=[i for i in range(20,30) if i%2==0]

In [80]:
t

[20, 22, 24, 26, 28]

In [83]:
x=[True if i%2==0 else False for i in range(10)]

In [84]:
x

[True, False, True, False, True, False, True, False, True, False]

In [85]:
p

[4984, 'rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23, True]

In [86]:
del p[0]

In [87]:
p

['rock', 'mozarilla', 'don', 89.6734, [10, 'chirag'], 23, True]

In [88]:
p.remove('don')

In [89]:
p

['rock', 'mozarilla', 89.6734, [10, 'chirag'], 23, True]

In [90]:
l="long"

In [91]:
l

'long'

In [92]:
m=list(l)

In [93]:
m

['l', 'o', 'n', 'g']

In [94]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [98]:
list("r","fwef")

TypeError: list expected at most 1 arguments, got 2

In [99]:
PAR="im going to school"

In [100]:
PAR.split()

['im', 'going', 'to', 'school']

In [105]:
PAR.split(*)

SyntaxError: invalid syntax (<ipython-input-105-684289237545>, line 1)

In [107]:
p.del(-1)

SyntaxError: invalid syntax (<ipython-input-107-170d726f4d32>, line 1)

In [108]:
del p[-1]

In [109]:
p

['rock', 'mozarilla', 89.6734, [10, 'chirag'], 23]

In [112]:
p.remove(23)

In [113]:
p

['rock', 'mozarilla', 89.6734, [10, 'chirag']]

In [115]:
p==t

False

In [117]:
c="jrnv"

In [118]:
c

'jrnv'

In [119]:
c(0)

TypeError: 'str' object is not callable

In [120]:
c[0]

'j'

In [121]:
p is t

False

In [122]:
id(p)

2492866045448

In [123]:
id(t)

2492866965768

is and == are for checking two elements and gives the output either true or flase. but they both work differently, is work by checking the id while == work by knowing the data

In [124]:
a=[1,2]

In [125]:
b=[1,2]

In [126]:
a
b

[1, 2]

In [127]:
a

[1, 2]

In [128]:
b

[1, 2]

In [129]:
a is b

False

In [130]:
a==b

True

In [131]:
t

[20, 22, 24, 26, 28]

In [132]:
del t[0]

In [133]:
t

[22, 24, 26, 28]

In [134]:
remove.t(22)

NameError: name 'remove' is not defined

In [135]:
t.remove(22)

In [136]:
t

[24, 26, 28]

In [138]:
t.pop(0)

26

In [139]:
t

[28]

In [140]:
t

[28]

In [141]:
t=[i for i in range(10,20) if i%2==0]

In [142]:
t

[10, 12, 14, 16, 18]

In [143]:
t.pop(2)

14

In [144]:
t

[10, 12, 16, 18]

In [145]:
t.pop(0)

10

In [146]:
t

[12, 16, 18]